body {
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background-color: rgb(188, 187, 187);
}

.todo-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-list img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.todo-input-grid,
.todo-grid {
  display: grid;
  grid-template-columns: 250px 120px 100px 100px;
  gap: 10px;
  margin-bottom: 10px;
}

.todo-grid {
  align-items: center;
}

.todo-input {
  font-size: 15px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid black;
}

.todo-date {
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid black;
}

.todo-time {
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid black;
}

.add-button {
  background-color: green;
  color: white;
  font-size: 15px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}
.add-button:hover {
  background-color: darkgreen;
}

.name-space {
  width: 100%;
  overflow-wrap: break-word;
}

.delete-button {
  background-color: rgb(195, 3, 3);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.delete-button:hover {
  background-color: darkred;
}

@media (max-width: 649px) {
  .todo-input-grid,
  .todo-grid {
    display: grid;
    grid-template-columns: 110px 107px 73px 60px;
    gap: 5px;
    margin-bottom: 10px;
  }
  .todo-list{
    width: 340px;
  }
}

@media (max-width: 800px) and (min-width: 650px) {
  .todo-input-grid,
  .todo-grid {
    display: grid;
    grid-template-columns: 150px 120px 100px 100px;
    gap: 10px;
    margin-bottom: 10px;
  }
}
